<div id="nav">
  <ul>
    <li class="nav-sub">Navigation</li>
    <a href="/dashboard"><li class="nav-item"><span class="dashboard">Dashboard</span></li></a>
    <a href="/members"><li class="nav-item"><span>Members</span></li></a>
    <a href="/posts"><li class="nav-item"><span>Posts</span></li></a>
    <a href="/logout"><li class="nav-item"><span>Logout</span></li></a>
  </ul>
</div>
